<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Protect application and system files from being viewed
    RewriteRule ^(website_files|website_framework) - [F,L]
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
    
</IfModule>