img {border:none;}
span {
font-family: Arial, Geneva, Helvetica, Verdana !important;
  font-size: 13px !important;
  color: #474844 !important; 
  background: #FFFFFF;
  scrollbar-face-color: #D2D3CE !important;
  scrollbar-track-color: #D2D3CE !important;
  scrollbar-arrow-color: #9F002C !important;
}
body
{ font-family: Arial, Geneva, Helvetica, Verdana;
  font-size: 13px;
  color: #474844; 
  background: #FFFFFF;
  scrollbar-face-color: #D2D3CE;
  scrollbar-track-color: #D2D3CE;
  scrollbar-arrow-color: #9F002C; } 
  
table, td, tr
{ font-family: Arial, Geneva, Helvetica, Verdana;
  font-size: 13px;
  color: #474844;
  line-height: 12pt; }

hr
{ Width: 100%;
  Color: #C3C4B8;
  height : 1; }

h3.title
{ font-family: Trebuchet MS, Arial, Geneva, Helvetica, Verdana;
  font-size: 16px;
  color: #93052B;
  font-weight: bold; }

span.subtitle
{ font-family: Trebuchet MS, Arial, Geneva, Helvetica, Verdana;
  font-size: 13px;
  color: #93052B;
  font-weight: bold; }

span.boldblack
{ font-family: Arial, Geneva, Helvetica, Verdana;
  font-size: 13px;
  color: #000000;
  font-weight: bold; }

span.boldred
{ font-family: Arial, Geneva, Helvetica, Verdana;
  font-size: 13px;
  color: #93052B;
  font-weight: bold; }

span.footer
{ font-family: Arial, Geneva, Helvetica, Verdana;
  font-size: 10px;
  color: #4E4F47; }

a:link, a:visited, a:active
{ font-family: Arial, Geneva, Helvetica, Verdana;
  font-size: 13px;
  color: #000000;
  text-decoration: underline; }

a:hover
{ font-family: Arial, Geneva, Helvetica, Verdana;
  font-size: 13px;
  color: #93052B;
  text-decoration: underline; }

a:link.mainmenu, a:visited.mainmenu, a:active.mainmenu
{ font-family: Trebuchet MS, Arial, Geneva, Helvetica, Verdana;
  font-size: 13px;
  color: #4E4F47;
  text-decoration: none;
  font-weight: bold; }

a:hover.mainmenu
{ font-family: Trebuchet MS, Arial, Geneva, Helvetica, Verdana;
  font-size: 13px;
  color: #93052B;
  text-decoration: none;
  font-weight: bold; }

a:link.submenu, a:visited.submenu, a:active.submenu
{ font-family: Arial, Trebuchet MS, Geneva, Helvetica, Verdana;
  font-size: 13px;
  color: #4E4F47;
  text-decoration: none;
  font-weight: bold; }

a:hover.submenu
{ font-family: Arial, Trebuchet MS, Geneva, Helvetica, Verdana;
  font-size: 13px;
  color: #93052B;
  text-decoration: none;
  font-weight: bold; }

a:link.footer, a:visited.footer, a:active.footer
{ font-family: Arial, Geneva, Helvetica, Verdana;
  font-size: 10px;
  color: #4E4F47;
  text-decoration: none; }

a:hover.footer
{ font-family: Arial, Geneva, Helvetica, Verdana;
  font-size: 10px;
  color: #93052B;
  text-decoration: none; }

a:link.more, a:visited.more, a:active.more
{ font-family: Arial, Geneva, Helvetica, Verdana;
  font-size: 13px;
  color: #4E4F47;
  text-decoration: none;
  font-weight: bold; }

a:hover.more
{ font-family: Arial, Geneva, Helvetica, Verdana;
  font-size: 13px;
  color: #93052B;
  text-decoration: none;
  font-weight: bold; }
	
a.banner img { border: none; }
.home-page-link{font-size: 85% !important; margin-bottom: 50px;}